.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
#vendor/
.phpintel/
#.env*
.DS_Store
.phpunit*
*.cache
.vscode/
tests/cover
tests/coverage.xml
tests/coverage
tests/coding_standard.xml
tests/junit.xml
public
!web/public
composer.lock
storage/uploads
./kiro
.qoder
.kiro
web/*.lock
docs/superpowers
.worktrees/
web/.codex
#claude.md
#.cursor/
#.claude/